.Popup
{
    border: 1px solid red;
    position: absolute;
    /*display: none;*/

    visibility: hidden;
    margin: -9999px 0 0 -9999px;

    width: 100px;
    height: 50px;
}

.Popup_visible
{
    visibility: visible;
    margin: 0;
}
