{
  "presets": [["es2015", { "loose":true }], "react"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [
        ["bem-import", {
          "levels": [
            "./blocks"
          ],
          "techs": ["js"]
        }]
      ]
    }
  }
}
