.Link_type_button
{
    border: 3px solid black;
    background: #ccc;
    -moz-user-focus: ignore;
    outline: none;
    text-decoration: none;
}

.Link_type_button.Link_focused
{
    border-color: yellow;
}

.Link_type_button.Link_focused_hard
{
    border-color: red;
}
