.Example_directions
{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background: #999;
}

.Popup
{
     background: #fff;
     border: 1px solid red;
     width: 100px;
     min-height: 50px;
}
