.Button
{
    border: 3px solid black;
    background: #ccc;
    -moz-user-focus: ignore;
    outline: none;
}

.Button_focused
{
    border-color: yellow;
}

.Button_focused_hard
{
    border-color: red;
}

.Button_checked
{
    background: orange;
}
